<md-card >

	<md-card-title>Welcome</md-card-title>

	<md-card-content>

		<form [formGroup]="loginForm">

			<div class="md-block">
				<md-input-container>
					<input type="text"
						   name="Username"
						   mdInput
						   formControlName="username"
						   placeholder="Username" />
				</md-input-container>
			</div>

			<div class="md-block">
				<md-input-container class="button-row">
					<input type="password"
						   name="password"
						   mdInput
						   formControlName="password"
						   placeholder="Password" />
				</md-input-container>
			</div>

			<div class="md-block">
				<button md-raised-button (click)="login()" color="primary" >Login</button>
			</div>

			<div *ngIf="fetching">
				FETCHING
			</div>

		</form>

	</md-card-content>

</md-card>
