<md-card >

	<md-card-title>Welcome</md-card-title>

	<md-card-content>

		<form [formGroup]="loginForm">

			<div class="md-block">
				<md-input-container>
					<input type="text"
						   name="Username"
						   mdInput
						   formControlName="username"
						   placeholder="Username" />
				</md-input-container>
			</div>

			<div class="md-block">
				<md-input-container class="button-row">
					<input type="password"
						   name="password"
						   mdInput
						   formControlName="password"
						   placeholder="Password" />
				</md-input-container>
			</div>

			<div class="md-block">

				<button md-raised-button (click)="login()" color="primary" class="btn-login" >Login</button>

				<md-progress-spinner *ngIf="fetching"
									 [mode]="'indeterminate'"
									 class="spinner" >
				</md-progress-spinner>
			</div>

		</form>

	</md-card-content>

</md-card>
